<section class="synth">
    <div class="grid">
        <div class="tag">
            <h2 class="tag__title">{{fields.synth_title}}</h2>
            <div class="tag__underline"></div>
        </div>
        <div class="synth__inner">
            <p class="text">{{fields.synth_text}}</p>
            <div class="synth__buttons">
                <a href="{{fields.synth_buttonone.url}}" class="button">
                    <i class="button__icon" data-feather="arrow-right-circle"></i>
                    <span class="button__text">{{fields.synth_buttonone.title}}</span>
                </a>
                <a href="{{fields.synth_buttontwo.url}}" class="button">
                    <i class="button__icon" data-feather="arrow-right-circle"></i>
                    <span class="button__text">{{fields.synth_buttontwo.title}}</span>
                </a>
            </div>
        </div>
    </div>
</section>