{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
{% endblock %}

	<body class="{{body_class}} white-page" data-template="base-white.twig">

		<main class="app">

			{% block header %}
				{% include 'header.twig' %}
			{% endblock %}

			{% block content %}
				Sorry, no content
			{% endblock %}

			{% block footer %}
				{% include 'footer.twig' %}
			{% endblock %}

		</main>

		<div class="guides">
			<div class="guide"></div>
			<div class="guide"></div>
		</div>
		
		<nav class="offscreen-nav" role="navigation">
			<div class="offscreen-nav__container">
			{% for item in navigation.get_items %}

				{% if 'Contact' in item.title %}
					<div class="offscreen-nav__item contact">
					{% else %}
					<div class="offscreen-nav__item">
				{% endif %}

				{% if 'Home' in item.title %}
					<a class="offscreen-nav__link" target="{{ item.target }}" href="{{ item.link }}">
						<svg xmlns="http://www.w3.org/2000/svg" width="39" height="39" fill="none" viewBox="0 0 39 39"><circle cx="19.5" cy="19.5" r="19" stroke="#fff"></circle><path stroke="#fff" d="M13 25.5v-9l6.5-5.5 6.5 5.5v9"></path></svg>
					</a>
				{% else %}

					<span class="offscreen-nav__number">
						{% if loop.index < 10 %}
							0{{loop.index}}
						{% else %}
							{{loop.index}}
						{% endif %}
					</span>
					<a class="offscreen-nav__link" target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
					{% if 'Contact' in item.title %}
						<div class="offscreen-nav__contact">
							{% for footer_item in options.footer_items %}
								<p class="offscreen-nav__text">{{footer_item.text}}</p>
							{% endfor %}
						</div>
					{% endif %}

				{% endif %}
				</div>

			{% endfor %}
			</div>
			<div class="offscreen-nav__guides">
				<div class="offscreen-nav__guide"></div>
				<div class="offscreen-nav__guide"></div>
				<div class="offscreen-nav__guide"></div>
				<div class="offscreen-nav__guide"></div>
			</div>
		</nav>

		<div class="scroller">
			<div class="scroller__bar">
				<div class="scroller__progress scroller__progress--alt"></div>
			</div>
		</div>

		<div class="loader">
			<div class="loader__bar">
				<div class="loader__progress loader__progress--alt"></div>
			</div>
		</div>

		{{ function('wp_footer') }}

	</body>
</html>
