<footer class="footer" id="contact">

    {% for item in options.footer_items %}

      <div class="grid footer__item">
          <div class="tag">
              <h2 class="tag__title">{{item.title}}</h2>
              <div class="tag__underline"></div>
          </div>
          <div class="footer__item-text">
              <div class="text text--large">
                  {{item.text}}
              </div>
          </div>
      </div>

    {% endfor %}

    <div class="grid">
        <p class="footer__copyright">{{options.footer_copyright}}</p>
    </div>

    <div class="grid">
        <nav class="legal-links">
            {% for item in legal_links.get_items %}
                <a class="legal-links__link" target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
            {% endfor %}
        </nav>
    </div>

    <div class="grid">
        <nav class="social-links">
            {% if options.facebook_link %}
                <a class="social-links__link" target="{{ item.target }}" href="{{ item.link }}"><i class="social-links__icon" data-feather="facebook"></i></a>
            {% endif %}

            {% if options.instagram_link %}
                <a class="social-links__link" target="{{ item.target }}" href="{{ item.link }}"><i class="social-links__icon" data-feather="instagram"></i></a>
            {% endif %}

            {% if options.linkedin_link %}
                <a class="social-links__link" target="{{ item.target }}" href="{{ item.link }}"><i class="social-links__icon" data-feather="linkedin"></i></a>
            {% endif %}

            {% if options.youtube_link %}
                <a class="social-links__link" target="{{ item.target }}" href="{{ item.link }}"><i class="social-links__icon" data-feather="youtube"></i></a>
            {% endif %}
        </nav>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js"></script>