<header class="header">
    <div class="grid">
        <a href="" class="logo-small">
          <picture>
            <source srcset="{{ custom_logo_url|towebp }}" type="image/webp">
            <source srcset="{{ custom_logo_url|tojpg }}" type="image/jpg">                 
            <img src="{{custom_logo_url|tojpg}}" alt="">
          </picture>
        </a>
        <a href="#" class="logo-full">{{ site.name }}</a>
        {# <nav class="navigation" role="navigation">
            {% for item in navigation.get_items %}
              <a class="navigation__link" target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
            {% endfor %}
        </nav> #}
    </div>
</header>